<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Al-Netek</title>
</head>
<body>
    <header>
<H1>Welcome to Al-Netek!</H1>
    </header>
    <nav>
<br>
<a href="index" target="mainFrame"; >Home</a><br>
<br>
<a href="QueryResults" target="mainFrame" ; >Query Result</a><br>
<br>
<a href="RecordsManagement" target="mainFrame"; >Records Management</a><br>
<br>
<a href="Rankings" target="mainFrame"; >Rankings</a><br>
<br></nav>
<img src="{% static "AlNetek.jpg" %}" alt="Bliss"/>
</body>
</html>